img {
    height:100%;
    display: block;
    margin: auto;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	font:white;
	font-style: normal;
	font-variant: small-caps;
	font-weight: normal;
	line-height: 100%;
}
a {
    text-decoration:none;
    color:white;
}

.button1 {
    border:none;
    text-align: center;
    color:white;
    display: inline-block;
    width:100%;
    font-size:40px;
    border-radius: 8px;
    margin-top:1%;
    margin-bottom:1%;
    margin-left:0%;
    margin-right:0%;
}
.button2 {
    line-height:20%;
    border:none;
    text-align: center;
    color:white;
    display: inline-block;
    width:80%;
    font-size:40px;
    border-radius: 8px;
    margin-top:1%;
    margin-bottom:1%;
    margin-left:10%;
    margin-right:10%;
}